body{
  color: #FFFF;
  background-color: #333333;
}

.container{
  max-width: 1000px;
  min-height: 44px;
  margin: 0 auto;
}

.background_img_header_hero{
  background-image: url(/img/Rectangle\ 3.png);
  height: 1045px;
}

.block{
  position: relative;
}

.header{
  padding-top: 50px;
  display: flex;
}

.buttons{
  display: flex;
  gap: 63px;
}

.buttons_text{
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
}

.text_width_1{
  width: 95px;
}

.text_width_2{
  width: 178px;
}

.text_width_3{
  width: 158px;
}

.telephone{
  margin-left:167px;
}

.tel{
  width: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
}

.tel_line{
  border: 2px solid #D1A954;
  width: 119px;
}

.side_line{
  width: 75px;
  height: 600px;
  background: rgba(51, 51, 51, 0.75);
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
}

.side_line_position{
  position: relative;
}

.side_line_text{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  transform: rotate(-90deg);
  font-family: 'Open Sans Condensed';
  position: absolute;
  top: -400px;
  left: -122px;
  width: 245px;
  height: 25px;
}

.side_line__line{
  border: 1px solid #C4C4C4;
  transform: rotate(90deg);
  width: 80px;
  top: -210px;
  left: -40px;
  position: absolute;
}

.side_line_social_icon{
  position: absolute;
  top: -155px;
  left: -12.5px;
  display: flex;
  flex-wrap: wrap;
  height: 174px;
  width: 26px;
}

.side_line_social_icon_img{
  width: 26px;
  height: 26px;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1015px;
  height: 925px;
}

.title{
  width: 540px;
  height: 296px;
  margin-right: 100px;
}

.title_heading{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
}

.poster_buttons{
  margin-top: 35px;
  display: flex;
  width: 370px;
  justify-content: space-around;
}

.title_text{
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: 'Open Sans';
}

.title_poster_button{
  margin-top: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
  text-decoration: none;
  padding:18px 47px ;
  background: #D1A954;
  width: 66px;
  height: 14px;
}

.poster_buttons{
  position: relative;
}

.poster_buttons_after{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-family: 'Open Sans Condensed';
  text-decoration: none;
}

.poster_buttons_before::before{
  position: absolute;
  content: url(/img/Arrow\ 1.svg);
  top: 5px;
  left: 0px;
}

.poster_buttons_before{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-family: 'Open Sans Condensed';
  text-decoration: none;
}

.poster_buttons_after::after{
  content: url(/img/Arrow\ 1.svg);
  display: inline-block;
  transform: rotate(180deg);
  position: absolute;
  top: -10px;
  right: 0px;
}

.about_the_theater{
  margin-top: 150px;
}

.about_the_theater_title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
  margin-bottom: 100px;
}

.about_the_theater_title_char_O{
  color: #D1A954;
}

.about_the_theater_block_main{
  display: flex;
  gap: 30px;
}

.about_the_theater_block{
  width: 445px;
}

.about_the_theater_block_info{
  margin-top: 40px;
}

.about_the_theater_text{
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
}

.about_the_theater_text_2{
  margin-top: 50px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: 'Open Sans';
}

.about_the_theater_block_info_text{
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-family: 'Open Sans Condensed';
}

.about_the_theater_block_info_tex_yellow{
  color: #D1A954;
}

.our_productions{
  margin-top: 150px;
  margin-bottom: 150px;
}

.our_productions_title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
}

.our_productions_block{
  width: 1175px;
  display: flex;
}


.our_productions_block_info_1{
  margin-top: 100px;
  background:  linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(/img/Rectangle\ 15.png);
  width: 342px;
  position: relative;
  height: 450px;
}

.our_productions_block_info_1:hover{
  background: url(/img/Rectangle\ 15.png);
}

.our_productions_block_info_1:hover .our_productions_text{
  visibility: hidden;
}

.lupa_1{
  position: absolute;
  content: url(/img/Group\ 9.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  visibility: hidden;
}

.our_productions_block_info_1:hover .lupa_1{
  visibility: visible;
}

.our_productions_block_info_2{
  margin-top: 100px;
  background:  linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(/img/Rectangle\ 16.png);
   position: relative;
  width: 342px;
  height: 450px;
}

.our_productions_block_info_2:hover{
  background: url(/img/Rectangle\ 16.png);
}

.our_productions_block_info_2:hover .our_productions_text{
  visibility: hidden;
}

.lupa_2{
  position: absolute;
  content: url(/img/Group\ 9.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  visibility: hidden;
}

.our_productions_block_info_2:hover .lupa_2{
  visibility: visible;
}

.our_productions_block_info_3{
  margin-top: 100px;
  background:  linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(/img/Rectangle\ 17.png);
  width: 342px;
  position: relative;
  height: 450px;
}

.our_productions_block_info_3:hover{
  background: url(/img/Rectangle\ 17.png);
}

.our_productions_block_info_3:hover .our_productions_text{
  visibility: hidden;
}

.lupa_3{
  position: absolute;
  content: url(/img/Group\ 9.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  visibility: hidden;
}

.our_productions_block_info_3:hover .lupa_3{
  visibility: visible;
}

.our_productions_block_info_4{
  margin-top: 100px;
  background:  linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(/img/Rectangle\ 18.png);
  position: relative;
  width: 342px;
  height: 450px;
}

.our_productions_block_info_4:hover{
  background: url(/img/Rectangle\ 18.png);
}

.our_productions_block_info_4:hover .our_productions_text{
  visibility: hidden;
}

.lupa_4{
  position: absolute;
  content: url(/img/Group\ 9.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  visibility: hidden;
}

.our_productions_block_info_4:hover .lupa_4{
  visibility: visible;
}

.our_productions_block_info_text{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
}

.our_productions_block_info_text_block_text{
  width: 342px;
  height: 450px;
}

.our_productions_block_info_text_block{
  padding-top: 40px;
  padding-left: 40px;
}

.our_productions_block_info_text_block2{
  margin-top: 185px;
  margin-left: -50px;
  padding-top: 40px;
  padding-left: 40px;
  transform: rotate(-90deg);
  height: 100px;
  width: 200px;
}

.beset_theater{
  margin-top: 150px;
  margin-left: -40px;
}

.beset_theater_background_img{
  background-image: url(/img/Rectangle\ 28.png);
  width: 1110px;
  height: 500px;
}

.beset_theater_block_flex{
  display: flex;
  justify-content: center;
  gap: 103px;
  align-items: center;
  width: 1110px;
  height: 500px;
}

.beset_theater_years_info{
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  font-family: 'Open Sans Condensed';
}

.beset_theater_star{
  margin-bottom: 25px;
  content: url(/img/stars.svg);
}

.beset_theater_info{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: 'Open Sans';
  width: 480px;
}

.partners_of_the_theater{
  margin-top: 150px;
}

.partners_of_the_theater_title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  color: #fff;
  margin-bottom: 100px;
}

.yellow{
  color: #D1A954;
}

.contacts{
  margin-top: 120px;
}

.contacts_title{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  color: #fff;
  margin-bottom: 100px;
}

.contacts_block_flex{
  display: flex;
  gap: 60px;
}

.contacts_block_info_text{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
  margin-bottom: 25px;
  width: 246px;
}

.contacts_block_to_send{
  display: flex;
  gap: 30px;
}

.contacts_block_input{
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  gap: 30px;
}

.contacts_block_input_text{
  background: #444444;
  border: 1px solid #616161;
  width: 180px;
  height: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  font-family: 'Open Sans';
  padding-left: 15px;
}

.contacts_block_textarea{
  padding-left: 15px;
  height: 100px;
  background: #444444;
  border: 1px solid #616161;
  width: 310px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #989898;
  font-family: 'Open Sans';
  resize: none;
}

.contacts_block2_info_button{
  margin-top: 40px;
  display: flex;
  gap: 150px;
}

.contacts_block2_info{
  width: 390px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

.contacts_block2_button{
  padding: 15px 45px;
  background-color: #D1A954;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed';
  text-decoration: none;
  margin-left: 60px;
}

.footer{
  margin-top: 80px;
}

.footer_line{
  width: 1100px;
  border: 1px solid #565656;
}

.footer_info{
  margin: 30px 0;
  display: flex;
  width: 1100px;
  gap: 600px;
}

.footer_info_text{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  font-family: 'Open Sans';
}

.footer_info_text_left{
  margin-left: 105px;
}